{% extends "base.html" %}
{% from '_macros.html' import display_menu %}
{% block body %}
<aside class="navbar navbar-vertical navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-menu" aria-controls="sidebar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{{ url_for('admin:index') }}" class="navbar-brand-image">
                {{ admin.title.upper() }}
            </a>
            <a href="?theme=dark" class="navbar-brand-image px-0 hide-theme-dark" data-bs-toggle="tooltip" data-bs-placement="bottom">
                <i class="fa-solid fa-moon"></i>
            </a>
            <a href="?theme=light" class="navbar-brand-image px-0 hide-theme-light" data-bs-toggle="tooltip" data-bs-placement="bottom" aria-label="Enable light mode" data-bs-original-title="Enable light mode">
                <i class="fa-solid fa-sun"></i>
            </a>
            {% if admin.authentication_backend %}
                <a href="{{ request.url_for('admin:logout') }}" class="navbar-brand-image">
                    <i class="fa-solid fa-sign-out"></i>
                </a>
            {% endif %}
          </h1>
        <div class="collapse navbar-collapse" id="sidebar-menu">
          {{ display_menu(admin._menu, request) }}
        </div>
    </div>
    </aside>
    <div class="page-wrapper">
    <div class="container-fluid">
      <div class="page-header d-print-none">
        {% block content_header %}
        <div class="row align-items-center">
          <div class="col">
            <h2 class="page-title">{{ title }}</h2>
            <div class="page-pretitle">{{ subtitle }}</div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="page-body flex-grow-1">
      <div class="container-fluid">
        <div class="row row-deck row-cards">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
</div>
{% endblock %}